/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@font-face {
	font-family: 'Ostrich-Sans-bold';
	src: url(../src/lib/fonts/OstrichSans-Bold.otf);
}
@font-face {
	font-family: 'Ostrich-Sans-rounded';
	src: url(../src/lib/fonts/OstrichSansRounded-Medium.otf);
}
@font-face {
	font-family: 'Ostrich-Sans-black';
	src: url(../src/lib/fonts/OstrichSans-Black.otf);
}

body {
	font-family: 'Ostrich-Sans-bold', Courier, monospace;
}

@tailwind components;

@tailwind utilities;
